<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= "#{@ticket.first_name} #{@ticket.middle_name} #{@ticket.last_name}"  %>
</p>

<% if @ticket.train.present? %>
<p>
  <strong>Train:</strong>
  <%= "№#{@ticket.train.number} #{@ticket.train.route.name}" %>
</p>
<% end %>

<p>
  <strong>Start_station:</strong>
  <%= @ticket.start_station.title %>
</p>

<p>
  <strong>Finish_station:</strong>
  <%= @ticket.finish_station.title %>
</p>


<%= link_to 'Back', admin_tickets_path %>
