<%= form_for(railway_stations_route) do |f| %>
  <% if railway_stations_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(railway_stations_route.errors.count, "error") %> prohibited this railway_station from being saved:</h2>

      <ul>
      <% railway_stations_route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_number %>
    <%= f.text_field :order_number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>