<h1>Editing Wagon</h1>

<%= form_for(@wagon) do |f| %>
  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @wagon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class = "field"> 
    <%= f.select(:type_of_wagon) do %>
      <% [['Плацкартный', 'Плацкартный'], ['Купейный', 'Купейный']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats %>
    <%= f.text_field :bottom_seats %>
  </div>

  <div class="field">
    <%= f.label :top_seats %>
    <%= f.text_field :top_seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', wagon_path(@wagon) %>