<p id="notice"><%= notice %></p>

<p>
  <strong>Train:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Bottom_seats:</strong>
  <%= @wagon.bottom_seats %>
</p>

<p>
  <strong>Top_seats:</strong>
  <%= @wagon.top_seats %>
</p>

<p>
  <strong>Side_bottom_seats:</strong>
  <%= @wagon.side_bottom_seats %>
</p>

<p>
  <strong>Side_top_seats:</strong>
  <%= @wagon.side_top_seats %>
</p>

<p>
  <strong>Sitting_places:</strong>
  <%= @wagon.sitting_places %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>
