<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations:</strong> <br />
  <% @route.railway_stations.each do |station| %>
  <%= station.order_number(@route) %> 
  <%= station.title %> | 
  <%= link_to 'Set order number', edit_railway_stations_route_path(station.find_route(@route).id) %> <br />
  <% end %>
</p>

<p>
  <strong>Trains:</strong>
  <% if @route.trains.empty? %>
      Поезда не назначены
    <% else %>
      <% @route.trains.each do |train| %>
        <br><%= train.number %></br>
      <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
