<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<strong>Список вагонов:</strong>
<% if @train.numbers_order? %>
<p>
  <% @train.wagons.from_head.each do |wagon| %>
  <%= link_to "#{wagon.number}", [:admin, @train, wagon] %>
  <% end %>
</p>
<% else %>
  <% @train.wagons.from_tail.each do |wagon| %>
  <%= link_to "#{wagon.number}", [:admin, @train, wagon] %>
  <% end %>
<% end %>

<%= link_to 'Добавить вагон', new_admin_train_wagon_path(@train) %>



<%= link_to 'Edit', edit_admin_train_path(@train) %> |
<%= link_to 'Back', admin_trains_path %>
